*,
::after,
::before {
	border: unset;
}
:root {
	--bg_dim: #232a2e;
	--bg0: #2d353b;
	--bg1: #343f44;
	--bg2: #3d484d;
	--bg3: #475258;
	--bg4: #4f585e;
	--bg5: #56635f;
	--bg_red: #543a48;
	--bg_visual: #514045;
	--bg_yellow: #4d4c43;
	--bg_green: #425047;
	--bg_blue: #3a515d;
	--red: #e67e80;
	--orange: #e69875;
	--yellow: #dbbc7f;
	--green: #a7c080;
	--blue: #7fbbb3;
	--aqua: #83c092;
	--purple: #d699b6;
	--fg: #d3c6aa;
	--statusline1: #a7c080;
	--statusline2: #d3c6aa;
	--statusline3: #e67e80;
	--gray0: #7a8478;
	--gray1: #859289;
	--gray2: #9da9a0;
}
.color-bg-default,
.color-bg-primary,
.gsc-reactions > div {
     background-color: var(--bg2);
}
.color-border-primary {
	border-color: var(--bg_dim);
}
.color-bg-overlay {
	background-color: var(--bg_dim);
}
.color-bg-tertiary,
.gsc-reactions,
.input-contrast,
.input-contrast:focus {
	background-color: var(--bg1);
}
.color-fg-default,
.color-text-primary,
.link-primary {
	color: var(--fg);
}
.color-fg-muted,
.color-text-secondary,
.link-secondary {
	color: var(--gray1);
}
.BtnGroup-item.BtnGroup-item--selected,
.BtnGroup-item:hover,
.gsc-comment-box-buttons > a:hover,
.gsc-comment-box-buttons > button:hover,
.gsc-toolbar-item:hover,
.gsc-toolbar-item[title^="Disable"] {
	color: var(--statusline1);
}
.gsc-reactions-popover.open.bottom::before {
	border-bottom-color: var(--bg_dim) !important;
}
.gsc-reactions-popover.open.top::before {
	border-top-color: var(--bg_dim);
}
#__next .rounded-md,
.gsc-comment-box-tabs,
.gsc-comment-box-textarea,
.gsc-comment-box-textarea-extras,
.gsc-comment-box-write,
.gsc-comment-box:not(.gsc-comment-box-is-reply) {
	border-radius: unset;
}
.gsc-comment-box-tabs button {
	border-bottom: 3px solid transparent !important;
}
.gsc-comment-box-tabs button.color-border-primary {
	border-color: var(--statusline1) !important;
}
.gsc-comment-box-textarea {
	border-color: var(--gray1);
}
.gsc-comment-box-bottom > button:hover {
	color: var(--statusline3);
}
.gsc-social-reaction-summary-item.has-reacted {
	background-color: var(--bg3);
	border-radius: unset;
}
.gsc-social-reaction-summary-item.has-reacted:hover:enabled {
	background-color: var(--bg4);
}
.gsc-reactions > div {
	padding: 0.5rem;
}
