---
const currentPath = Astro.url.pathname;
---

<div class="nav-links">
	<a href="/" data-active={currentPath === "/"}>Home</a>
	<a href="/about" data-active={currentPath === "/about"}>About</a>
	<a href="/blog" data-active={currentPath === "/blog"}>Blog</a>
	<a href="/tags" data-active={currentPath === "/tags"}>Tags</a>
</div>

<style>
	.nav-links {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-links a {
		display: inline-block;
		padding: 1rem 0.5rem;
		text-align: center;
		text-decoration: none;
		color: var(--fg);
		border-width: 3px 0;
		border-style: solid;
		border-color: transparent;
	}

	.nav-links a:hover,
	.nav-links a:focus,
	.nav-links a[data-active="true"] {
		border-bottom-color: var(--statusline1);
	}
</style>
