---
import {Sun, Moon} from "lucide-astro";
---

<button id="themeToggle">
	<Sun className="sun" />
	<Moon className="moon" />
</button>

<style>
	#themeToggle {
		border: 0;
		background: none;
		display: grid;
		place-items: center;
		padding: 0.5rem;
		cursor: pointer;
	}
	.sun,
	.moon {
		grid-area: 1 / 1;
	}
	.sun,
	:global(.dark) .moon {
		stroke: var(--fg);
	}
	button:hover .sun,
	:global(.dark) button:hover .moon {
		stroke: var(--statusline1);
	}
	:global(.dark) button .sun,
	.moon {
		stroke: transparent;
	}
</style>

<script is:inline>
	let currentTheme = localStorage.getItem("theme");
	if (!currentTheme) {
		currentTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
	}

	document.documentElement.classList.toggle("dark", currentTheme === "dark");
	updateGiscusTheme(currentTheme);
	localStorage.setItem("theme", currentTheme);

	function updateGiscusTheme(theme) {
		const iframe = document.querySelector("iframe.giscus-frame");
		if (iframe) {
			iframe.contentWindow.postMessage(
				{
					giscus: {
						setConfig: {
							theme: `${window.location.origin}/giscus/${theme}.css`,
						},
					},
				},
				"https://giscus.app",
			);
		}
	}

	document.getElementById("themeToggle")?.addEventListener("click", () => {
		const isDark = document.documentElement.classList.toggle("dark");
		const newTheme = isDark ? "dark" : "light";
		localStorage.setItem("theme", newTheme);
		updateGiscusTheme(newTheme);
	});

	window.addEventListener("message", function (event) {
		if (event.origin !== "https://giscus.app") return;
		if (event.data?.giscus?.discussion?.initial) {
			updateGiscusTheme(localStorage.getItem("theme") || "light");
		}
	});
</script>
