---
import {Sun, Moon} from "lucide-astro";
---

<button id="themeToggle">
	<Sun className="sun" />
	<Moon className="moon" />
</button>

<style>
	#themeToggle {
		border: 0;
		background: none;
		display: grid;
		place-items: center;
		padding: 0.5rem;
		cursor: pointer;
	}
	.sun,
	.moon {
		grid-area: 1 / 1;
	}
	.sun,
	:global(.dark) .moon {
		stroke: var(--fg);
	}
	button:hover .sun,
	:global(.dark) button:hover .moon {
		stroke: var(--statusline1);
	}
	:global(.dark) button .sun,
	.moon {
		stroke: transparent;
	}
</style>

<script is:inline>
	let currentTheme = localStorage.getItem("theme");
	if (!currentTheme) {
		currentTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
	}

	document.documentElement.classList.toggle("dark", currentTheme === "dark");
	localStorage.setItem("theme", currentTheme);

	document.getElementById("themeToggle")?.addEventListener("click", () => {
		const isDark = document.documentElement.classList.toggle("dark");
		localStorage.setItem("theme", isDark ? "dark" : "light");
	});
</script>
