---
import {Sun, Moon} from "lucide-astro";
---

<button id="themeToggle">
	<Sun className="sun" />
	<Moon className="moon" />
</button>

<style>
	#themeToggle {
		position: relative;
		border: 0;
		background: none;
	}
	.sun,
	.moon {
		position: absolute;
	}
	:global(.dark) .moon,
	.sun {
		stroke: var(--fg);
	}
	:global(.dark) .sun,
	.moon {
		stroke: transparent;
	}
</style>

<script is:inline>
	let currentTheme =
		localStorage.getItem("theme") || window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

	document.documentElement.classList.add(currentTheme);
	localStorage.setItem("theme", currentTheme);

	document.getElementById("themeToggle")?.addEventListener("click", () => {
		const newTheme = currentTheme === "dark" ? "light" : "dark";
		document.documentElement.classList.toggle("dark");
		localStorage.setItem("theme", newTheme);
	});
</script>
